.index-chat {
    padding: 20px;
    background-color: #300E02;;
    border-radius: 10px;
    margin-top: 2%;
  }
  
  .index-chat h1 {
    color: #FFFFFF;
  }
    .chat-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #D2B48C;
    border-radius: 10px;
  }
    .chat-type {
    color: #228B22;
  }
    .chat-button {
    background-color: #228B22;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  .chat-button:hover {
    background-color: #228B22;
    opacity: 0.8;
  }
  .no-chat-msg {
    color: #8B4513;
  }